<div class="container">
    <div class="row" style="margin-top: 40px;">
        <div class="col-md-6 offset-md-3" >
            <div class="card bg-light">
                <div class="card-body">
                    <h2>Welcome to Heroku UltraGen PoC</h2>
                    <p>Or should I say "Heroku UltraGen Docker PoC"?</p>
                    <p>This is a Docker containerized application deployed to Heroku using the Docker environment.</p>
                    <p>The backend is all written in UltraGen, a scripting language/template engine designed to be agile and simple as a tool to create websites.</p>
                    <p>Visit GitHub page for more information.</p>
                    <p>See this application source code!</p>
                </div>
            </div>
        </div>
    </div>
</div>
