<div class="container">
    <div class="row breathe-top">
        <div class="col-lg-12">
            <h2>{{ user[:name] }}</h2>
            <div class="card">
                <div class="card-header bg-light">
                    User info
                </div>
                <div class="card-body">
                    <p><strong>Username: </strong>{{ user[:username] }}</p>
                    <p><strong>Password: </strong>{{ user[:password] }}</p>
                    <p><strong>Created at: </strong>{{ user[:created_at] }}</p>
                    <p><strong>Bio: </strong>{{ user[:bio] }}</p>
                </div>
            </div>    
        </div>
    </div>
</div>